/* You can add global styles to this file, and also import other style files */

@import '~@spartacus/styles/index';

:root {
    --cx-color-primary: #FFBC0A;
    --cx-color-secondary: #EC7D10;
    --cx-color-text: #EC0868;
    --cx-color-background: #C200FB;
    --cx-color-dark: #FC2F00;
  }
  
  $skipComponentStyles: (cx-mini-cart);

  %custom-mini-cart {
    a {
      color: white;
      position: relative;
      display: block;
  
      .count {
        border: solid 2px var(--cx-color-dark);
        background: var(--cx-color-primary);
        border-radius: 5px;
        width: 20px;
        height: 20px;
        display: flex;
        position: absolute;
  
        justify-content: center;
        align-items: center;
        top: -10px;
        right: -10px;
      }
      .total {
        display: none;
      }
    }
  }
  
  cx-mini-cart {
    @extend %custom-mini-cart !optional;
  }
  